
@{
    ViewData["Title"] = "Sign in";
    //Layout = "~/Views/Shared/Admin/_LayoutLogin.cshtml";
    Layout = null;

}

<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Adminmart/assets/images/favicon.png">
    <title>@ViewData["Title"]</title>

    <!-- Custom CSS -->
    <link href="~/Adminmart/dist/css/style.min.css" rel="stylesheet">

    <script src="sweetalert2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">
 
</head>

<body>
    <div class="main-wrapper ">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
             style="background:url(../Adminmart/assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box row">
                <div class="col-lg-6 col-md-5 modal-bg-img" style="  background-image: url(../Adminmart/assets/images/big/landingfix.png);width:auto; height:auto; ">

                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <img src="~/Adminmart/assets/images/favicon.png" alt="wrapkit">


                        </div>
                        <h2 class="mt-3 text-center">Sign In</h2>
                        <p class="text-center">Enter your email address and password to access web reimbursement.</p>


                        <form action="javascript:login()" method="post" class="mt-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark">Email</label>
                                        <input class="form-control rounded-pill" name="email" id="email" type="email" placeholder="enter your email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="pwd">Password</label>
                                        <input class="form-control rounded-pill" name="password" required id="password" type="password"
                                               placeholder="enter your password">
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button class="btn btn-block btn-dark rounded-pill">Sign In</button>
                                </div>
                                <div class="col-lg-12 text-center mt-5">
                                    Don't have an account? <a href="/register" class="text-danger">Sign Up</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    </div>

    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="~/Adminmart/assets/libs/jquery/dist/jquery.min.js "></script>
    <script src="~/js/login.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Adminmart/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="~/Adminmart/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
    


    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->

    <script>
        $(".preloader ").fadeOut();
    </script>

    }
</body>

</html>
