@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
    


    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Adminmart/assets/images/favicon.png">
    <title>@ViewBag.sessionRole</title>
    <!-- Custom CSS -->
    <link href="~/Adminmart/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="~/Adminmart/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/Adminmart/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />



    <!-- Custom CSS -->
    <link href="~/Adminmart/dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>-->
    @*<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>*@



</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="/home">
                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <img src="~/Adminmart/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                                <!-- Light Logo icon -->
                                <img src="~/Adminmart/assets/images/logo-icon.png" alt="homepage" class="light-logo" />
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <img src="~/Adminmart/assets/images/logox.png" alt="homepage" class="dark-logo" />
                                <!-- Light Logo text -->
                                <img src="~/Adminmart/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                       data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                               type="search" placeholder="Search" aria-label="Search">
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="~/Adminmart/assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle"
                                     width="40">
                                <span class="ml-2 d-none d-lg-inline-block">
                                    <span>Hello,</span> <span class="text-dark">@ViewBag.sessionName</span> <i data-feather="chevron-down"
                                                                                                               class="svg-icon"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="/home/viewprofile/">
                                    <i data-feather="user"
                                       class="svg-icon mr-2 ml-1"></i>
                                    My Profile
                                </a>

                                <div class="dropdown-divider"></div>
                                @*<a class="dropdown-item" href="javascript:void(0)">
                                    <i data-feather="settings"
                                       class="svg-icon mr-2 ml-1"></i>
                                    Account Setting
                                </a>*@
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i data-feather="power"
                                       class="svg-icon mr-2 ml-1"></i>
                                    Logout
                                </a>
                                @*<div class="dropdown-divider"></div>*@

                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="/home"
                               aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Roles</span></li>


                        @if (ViewBag.sessionRole == "Admin" || ViewBag.sessionRole == "Finance")
                        {
                            @*<li class="sidebar-item">
                <a class="sidebar-link" href="/home/admin"
                   aria-expanded="false">
                    <i data-feather="user" class="feather-icon"></i><span class="hide-menu">
                        Admin
                    </span>
                </a>
            </li>*@
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <i data-feather="user" class="feather-icon"></i><span class="hide-menu">Table Roles</span>
                                </a>

                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="/home/TbEmployee" class="sidebar-link">
                                            <span class="hide-menu">
                                              Table Employee
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="/home/TbManager" class="sidebar-link">
                                            <span class="hide-menu">
                                                Table Manager
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="/home/TbFinance" class="sidebar-link">
                                            <span class="hide-menu">
                                                Table Finance
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        }
                        @if (ViewBag.sessionRole == "Employee")

                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="/home/employee"
                                   aria-expanded="false">
                                    <i data-feather="user" class="feather-icon"></i><span class="hide-menu">
                                        Employee
                                    </span>
                                </a>
                            </li>
                        }
                        @if (ViewBag.sessionRole == "Manager")

                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link" href="/home/manager"
                                   aria-expanded="false">
                                    <i data-feather="user" class="feather-icon"></i><span class="hide-menu">Manager</span>
                                </a>
                            </li>
                        }

                        @if (ViewBag.sessionRole == "Finance")

                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link" href="/home/finance"
                                   aria-expanded="false">
                                    <i data-feather="user" class="feather-icon"></i><span class="hide-menu">Finance</span>
                                </a>
                            </li>

                        }

                        @if (ViewBag.sessionRole == "Finance" || ViewBag.sessionRole == "Manager" || ViewBag.sessionRole == "Admin")

                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <i data-feather="file-text" class="feather-icon"></i><span class="hide-menu">Forms History </span>
                                </a>

                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="/home/historyall" class="sidebar-link">
                                            <span class="hide-menu">
                                                Form All
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="/home/historyapp" class="sidebar-link">
                                            <span class="hide-menu">
                                                Form Approved
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="/home/historyrej" class="sidebar-link">
                                            <span class="hide-menu">
                                                Form Rejected
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        }



                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="/login/logout"
                               aria-expanded="false">
                                <i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span>
                            </a>
                        </li>


                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            @RenderBody()

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center text-muted">
            Designed by WrapPixel and Developed by <a href="javascript:void(0)">#MCC50Team2</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->

    </div>
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/Adminmart/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Adminmart/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Adminmart/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @*<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>*@

    @*---pdf---*@

    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>

    <!-- apps -->
    <!-- apps -->
    <script src="~/Adminmart/dist/js/app-style-switcher.js"></script>
    <script src="~/Adminmart/dist/js/feather.min.js"></script>
    <script src="~/Adminmart/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Adminmart/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Adminmart/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="~/Adminmart/assets/extra-libs/c3/d3.min.js"></script>
    <script src="~/Adminmart/assets/extra-libs/c3/c3.min.js"></script>
    @*<script src="~/Adminmart/assets/libs/chartist/dist/chartist.min.js"></script>*@
    @*<script src="~/Adminmart/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>*@
    <script src="~/Adminmart/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Adminmart/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Adminmart/dist/js/pages/dashboards/dashboard1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>



    @RenderSection("Scripts", required: false)

</body>

</html>