
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}


<!-- Start Top Leader Table -->
<!-- *************************************************************** -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4">
                    <h4 class="card-title">Top Leaders</h4>
                    <div class="ml-auto">
                        <div class="dropdown sub-dropdown">
                            <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                    id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <i data-feather="more-vertical"></i>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tableEmployee" class="table no-wrap v-middle mb-0">
                        <thead>
                            <tr class="border-0">
                                <th class="border-0 font-14 font-weight-medium text-muted">
                                    No
                                </th>
                                <th class="border-0 font-14 font-weight-medium text-muted ">
                                    Id
                                </th>
                                <th class="border-0 font-14 font-weight-medium text-muted ">
                                    Name
                                </th>
                                <th class="border-0 font-14 font-weight-medium text-muted">Request Amount</th>
                                <th class="border-0 font-14 font-weight-medium text-muted text-center">
                                    Paid Amount
                                </th>
                                <th class="border-0 font-14 font-weight-medium text-muted text-center">
                                    Category
                                </th>
                                <th class="border-0 font-14 font-weight-medium text-muted">Status</th>
                                <th class="border-0 font-14 font-weight-medium text-muted">Manager Status</th>
                                <th class="border-0 font-14 font-weight-medium text-muted">Finance Status</th>
                                <th class="border-0 font-14 font-weight-medium text-muted">Action</th>
                            </tr>
                        </thead>
                        <tbody id="bodyEmployee">
                        </tbody>
                        @*<tbody>
            <tr>
                <td class="border-top-0 px-2 py-4">
                    <p class="text-dark mb-0 font-12 font-weight-medium">
                        Naufal Farras
                    </p>
                </td>
                <td class="border-top-0 px-2 py-4">
                    <p class="text-dark mb-0 font-12 font-weight-medium">
                        Naufal Farras
                    </p>
                </td>
                <td class="border-top-0 px-2 py-4">
                    <p class="text-dark mb-0 font-12 font-weight-medium">
                        Naufal Farras
                    </p>
                </td>
                <td class="border-top-0 px-2 py-4">
                    <p class="text-dark mb-0 font-12 font-weight-medium">
                        Naufal Farras
                    </p>
                </td>
                <td class="border-top-0 px-2 py-4">
                    <p class="text-dark mb-0 font-12 font-weight-medium">
                        Naufal Farras
                    </p>
                </td>
                <td class="border-top-0 px-2 py-4">
                    <p class="text-dark mb-0 font-12 font-weight-medium">
                        Naufal Farras
                    </p>
                </td>
                <td class="border-top-0 px-2 py-4">
                    <p class="text-dark mb-0 font-12 font-weight-medium">
                        Naufal Farras
                    </p>
                </td>
                <td class="border-top-0 px-2 py-4">
                    <p class="text-dark mb-0 font-12 font-weight-medium">
                        Naufal Farras
                    </p>
                </td>
                <td class="border-top-0 px-2 py-4">
                    <p class="text-dark mb-0 font-12 font-weight-medium">
                        Naufal Farras
                    </p>
                </td>
                <td class="border-top-0 px-2 py-4">
                    <p class="text-dark mb-0 font-12 font-weight-medium">
                        Naufal Farras
                    </p>
                </td>

            </tr>


        </tbody>*@

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *************************************************************** -->
<!-- End Top Leader Table -->
<!-- *************************************************************** -->
<script src="~/js/Employee.js" asp-append-version="true"></script>

