@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Role"] = @ViewBag.sessionRole;
ViewData["NIK"] = @ViewBag.sessionNik;

ViewData["ManagerNik"] = @ViewBag.sessionManagerNik;


Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="container bootstrap">
   
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->


            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload">
            </div></hr><br>


           



        </div><!--/col-3-->
        <div class="col-sm-9">
           
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="row">
        

                                <div class="form-group col-sm-6">
                                    <label for="first_name"><h4>First name</h4></label>
                                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="last_name"><h4>Last name</h4></label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                </div>
                    

                        </div>
                        <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="phone"><h4>Phone</h4></label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="mobile"><h4>Mobile</h4></label>
                                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                </div>
                         
                        </div>
                         <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="phone"><h4>Phone</h4></label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="mobile"><h4>Mobile</h4></label>
                                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                </div>
                         
                        </div>
                        <div class="row">
                            
                      </div>
                      
                        
                    </form>

                    <hr>

                </div><!--/tab-pane-->
     

            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

@section scripts{
<script src="~/js/Employee.js" asp-append-version="true"></script>

}